python-binance==1.0.17
pandas>=2.1.0
numpy>=1.26.0
flask==2.2.5
requests==2.31.0
python-dotenv==1.0.0
websocket-client==1.6.3
ta==0.10.2
plotly==5.16.1
dash==2.2.3
scikit-learn==1.5.2
tensorflow-cpu==2.17.1
ccxt==4.1.94
gunicorn==21.2.0
Werkzeug==2.2.3
streamlit>=1.41.1
